Repository Ev1ch/millionaire: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier, npm run eslint, npm run stylelint

.lintstagedrc:

{
    "*.*": "npm run prettier",
    "*.{ts,tsx}": "npm run eslint",
    "*.scss": "npm run stylelint"
}

fix: fixed validation script
  scripts/validate-config.js
Due: npm run prettier

fix: fixed readme json
  README.md
Due: npm run prettier

fix: fixed fonts size for mobile
  src/components/basic/answer/answer.module.scss
  src/components/basic/button/button.module.scss
  src/components/basic/stage/stage.module.scss
Due: npm run prettier, npm run stylelint

feat: added example data to config
  src/config/data.json
Due: npm run prettier

Updates
  asset-manifest.json
  index.html
  static/css/main.abb1e44d.css
  static/css/main.abb1e44d.css.map
  static/css/main.e535d568.css
  static/css/main.e535d568.css.map
  static/js/main.51bb7cf2.js
  static/js/main.51bb7cf2.js.map
  static/js/main.bed2de74.js
  static/js/main.bed2de74.js.LICENSE.txt
  static/js/main.bed2de74.js.map
Due: npm run prettier

fix: added helpers index file
  src/components/basic/stage/index.tsx
  src/components/pages/final/index.tsx
  src/components/pages/quiz/index.tsx
  src/helpers/index.ts
  src/services/quiz.ts
Due: npm run prettier, npm run eslint

fix: fixed math in hexagon component styles
  src/components/basic/hexagon/hexagon.module.scss
Due: npm run prettier, npm run stylelint

fix: replaced font-size by variables
  src/components/basic/answer/answer.module.scss
  src/components/basic/button/button.module.scss
  src/components/basic/stage/stage.module.scss
  src/styles/variables.scss
Due: npm run prettier, npm run stylelint

fix: replaced title font size by variables
  src/components/pages/error/error.module.scss
  src/components/pages/final/final.module.scss
  src/components/pages/start/start.module.scss
  src/styles/variables.scss
Due: npm run prettier, npm run stylelint

fix: fixed some styles mistakes
  src/components/pages/error/error.module.scss
  src/components/pages/final/final.module.scss
  src/components/pages/start/start.module.scss
Due: npm run prettier, npm run stylelint

Updates
  asset-manifest.json
  index.html
  static/css/main.5ab23bd8.css
  static/css/main.5ab23bd8.css.map
  static/css/main.abb1e44d.css
  static/css/main.abb1e44d.css.map
  static/js/main.bed2de74.js.map
Due: npm run prettier
